[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/uthash"]
	path = ext/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "ext/incbin"]
	path = ext/incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "ext/flag"]
	path = ext/flag
	url = https://github.com/clibs/flag.git
[submodule "ext/parson"]
	path = ext/parson
	url = https://github.com/kgabis/parson.git
[submodule "ext/zf_log"]
	path = ext/zf_log
	url = https://github.com/wonder-mice/zf_log.git
