# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.ycm_extra_conf.py
.ycm_extra_conf.pyc
.clang_complete
project.el

obj/

/__pycache__/
/.ninja_log
/.ninja_deps
/compile_commands.json

/bin/TapTracker
