# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.ycm_extra_conf.py
.ycm_extra_conf.pyc
.clang_complete
project.el

example/bin/bltest
example/bin/.ninja_deps
example/bin/.ninja_log
obj/

/*.gif
/__pycache__/
/compile_commands.json
/test/bin/.ninja_deps
/test/bin/.ninja_log
/example/__pycache__/
/example/bin/sdl_test
/.ninja_deps
/.ninja_log
/test/bin/bltest
/bin/blocktracker
/bin/.ninja_log
/bin/.ninja_deps
