[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/uthash"]
	path = ext/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "ext/incbin"]
	path = ext/incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "ext/glad"]
	path = ext/glad
	url = https://github.com/Dav1dde/glad.git
